:root {
  --color-text-800: rgba(11, 10, 10, 1);
  --color-primary-700: rgba(32, 94, 176, 1);
  --color-secondary-700: rgba(176, 181, 189, 1);
  --color-text-500: rgba(88, 80, 80, 1);
  --color-primary-500: rgba(42, 117, 219, 1);
  --color-secondary-500: rgba(248, 248, 248, 1);
  --color-text-300: rgba(136, 124, 124, 1);
  --color-text-200: rgba(223, 218, 218, 1);
  --color-text-100: rgba(248, 248, 248, 1);
  --color-primary-100: rgba(170, 201, 241, 1);
}